/*header*/

.header{
    height: 160px;
    background-color: rgba(250,235,215,0.8);
    background-blend-mode: darken;
}

.logo{
    float:left;
    width:33%;
    height: 170px;
}

.logo img {
    width: 100px;
    height: 85px;
    border-radius: 10%;
    border: 5px solid blue;
    margin: 8% auto 8% 8%;
}

.middle {
    margin-top: 3%;
    text-align: center;
    width:33%;
    float: left;
}


.login{
    float: right;
    width:33%;
    height: inherit;
}

.login-other-options>a:first-of-type{
    margin-top:20px;
}

.login>div{
    height: inherit;
    width:50%;
    margin: 0;
}

.form-login {
    width: 200px;
    float: right;
    margin: 5px;
}


.login-other-options{
    width: 140px;
    margin: 11% 5% auto 1%;
    text-align: center;
    float: right;

}

.login-inputs{
    margin: 3% 1% auto 5%;
    width: 200px;
    float: right;
    margin-right: 100px 300px 0 15px;
    text-align: center;
}

.login-other-options>a{
    text-decoration: none;
    color:black;
    cursor: pointer;
}


/*body*/

body {
    margin:0;
    background-image: url(/img/background.jpg);
    background-size: 100%;
    background-attachment: fixed;
    min-width: 900px;
}

/*searchbar*/

a.link-to-adding-drive{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
.search-bar{
    margin: 70px 25% auto 25%;
    background: white;
    min-height: 100px;
    width: 50%;
    text-align: center;
}

.search-inputs{
    margin: auto;
}

.search-bar div{
    width: 33%;
    display: inline-block;
    height: 100px;
    padding: 10px;
}



.login-button>button{
    margin-top: 10px;
}

/*lately-added*/

.lately-added{
    margin: 60px 15% 200px 15%;
    background: white;
    height: 200px;
    width: 70%;
    text-align: center;
}

.lately-added h3{
    height: 20%;
    margin: 0;
    text-align: center;
}

.lately-added-notice{
    width:29%;
    height: 80%;
    display: inline-block;
    margin: 0;
}

.registration-bar{
    margin: 50px 25% 90px 25%;
    background: white;
    height: 500px;
    width: 40%;
}

.registration-bar>form{
    height: inherit;
}

.registration-bar div{
    height: 14.18%;
    padding: 2%;
}

.reg-bar-input{
    width: 50%;
    display: inline-block;
}

.reg-bar-description {
    width: 50%;
    height: inherit;
    display: inline-block;
    float: left;

}



.registration-button{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    display: table;
    padding-top: 0;
}



.adding-drive-bar{
    margin: 50px 25% 50px 25%;
    background: white;
    height: 500px;
    width: 40%;
}

.adding-drive-inputs-desciptions{
    height: inherit;
    float: left;
    width: 35%;
    padding: 20px;
    display: inline;
    padding-bottom: 5px;

}

.adding-drive-inputs-desciptions>h5{
    height: 25%;
    margin: 0;
    padding: 0;
}


.adding-drive-inputs{
    padding: 20px;
    float: right;
    width: 50%;
    display: inline;
    height: inherit;
    padding-bottom: 5px;
}

.adding-drive-inputs>form{
    height: inherit;
}

.adding-drive-button{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    display: table;
    padding-top: 10px;

    margin-bottom: 10px;
    height: 50px;
}


.adding-drive-radio-button{
    padding-top: 300px;
}

.adding-drive-radio-button input{
    width: 40%;
    display: inline-block;
}

.adding-drive-inputs>div{
    height: 25%;
}

.adding-drive-inputs h5{
    float: left;
}


/* footer*/

.footer{
    bottom: 0px;
    position: fixed;
    width: 100%;
    background-color: rgba(250,235,215,0.8);
    padding: 10px;
}

.footer>div{
    text-align: center;
}

.lately-added-notice>a{
    cursor: pointer;
}
/*utils*/

.button{
    background-color: blue;
}

.move-down-20px{
    margin-top: 20px;
}
.data{
    margin-top:5px;
    margin-bottom: 10px;
}

.offers{
    margin: 70px 15% 70px 15%;
    width: 70%;
    background-color: white;
    text-align: center;
}

.single-offer{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(250,235,215,0.8);
    display: inline-block;
    height: 350px;
    width: 80%;
    text-align: center;
}

.single-offer-cont{
    height: 24%;
    width: 100%;
    margin: 0;
    font-weight: bold;
    color: #3F7FBF;
    text-align: center;
}

.single-offer-cont>div{
    text-align: center;
    width: 30%;
    display: inline-block;
}

.single-offer-cont h3, h1, h6{
    color: black;
}

.single-offer-cont:nth-of-type(2){
    padding-top:20px;
}

.single-offer-cont:nth-of-type(3){
    padding-top: 20px;
}

.single-offer-cont:nth-of-type(3)>div:last-of-type {
    width: 70%;
    display: inline-block;
}

.single-offer-cont:nth-of-type(3)>div:first-of-type{
    width: 25%;
    display: inline-block;
}

.single-offer-cont:last-of-type{
    padding-top: 20px;
}

.single-offer-cont:last-of-type div{
    display: inline-block;
    width: 30%;
    float: right;
    height: 60px;
    text-align: center;
    padding-left: 20px;
    margin: auto;
}

.new-order-button{
    padding-right: 20px;
}

.single-offer-cont:last-of-type h5{
    display: inline-block;
}

.single-offer-cont input{
    width: 40px;
    display: inline-block;
}

.new-order-button{
    float: right;
}