<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Riksha - Dodaj przejazd</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link type="text/css" href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>

<div class="header">
    <div class="logo">
        <img src="/img/Rower.jpg"/>

    </div>
    <div class="middle">
        <h1>RIKSHA</h1>
    </div>
    <div class="login">
        <div class="login-other-options">
            <div class="move-down-20px">
                <a href="registration">Rejestracja</a>
            </div>
            <div class="move-down-20px">
                <a href="#">Nie pamiętasz hasła?</a>
            </div>
        </div>
        <div class="login-inputs">
            <input class="form-control form-login" type="text" placeholder="email"/>
            <input class="form-control form-login" type="password" placeholder="hasło"/>
            <div class="login-button">
                <button class="findWay btn btn-default">Zaloguj się</button>
            </div>
        </div>
    </div>
</div>



<div class="adding-drive-bar">
    <div class="adding-drive-inputs-desciptions">
        <h5>Skąd jedziesz?*</h5>
        <h5>Dokąd się wybierasz?*</h5>
        <h5>Kiedy planujesz podróż?</h5>
        <h5>Dodatkowe uwagi</h5>
    </div>
    <div class="adding-drive-inputs">
        <form th:action="@{/adding-drive}" th:object="${ride}" method="post">
            <div>
                <input class="form-control" type="text" placeholder="Skąd?" th:field="*{fromPlace}"/>
                <h6 th:if="${#fields.hasErrors('fromPlace')}" th:errors="*{fromPlace}">City name error</h6>
            </div>
            <div>
                <input class="form-control" type="text" placeholder="Dokąd" th:field="*{toPlace}"/>
                <h6 th:if="${#fields.hasErrors('toPlace')}" th:errors="*{toPlace}">City name error</h6>
            </div>
            <div>
                <h6 th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date error</h6>
                <div>
                    <p>
                        <span>Selected: </span> <span id="selectedValue"></span>
                    </p>
                </div>
                <br>
                <div class="form-group">
                    <label>Select date and time:</label>
                    <div class='input-group date' id='datetimepicker'>
                        <input type='text' class="form-control" th:field="*{date}"/>
                        <span class="input-group-addon"/>
                        <span class="glyphicon glyphicon-calendar"/>
                    </div>
                </div>

            </div>
            <div>
                <input class="form-control" type="text" placeholder="Opis" th:field="*{comments}"/>
            </div>
            <div>
                <h5>Ilość osób</h5>
                <input class="form-control" type="text" th:field="*{seatsLeft}"/>
            </div>
            <div class="adding-drive-button">
                <button class="findWay btn btn-default">Dodaj przejazd</button>
            </div>
        </form>
    </div>
</div>
<div class=" footer">
    <div class=" col-md-3">
        <a href="home">Strona główna</a>
    </div>
    <div class="col-md-3">
        <a href="#">Profil</a>
    </div>
    <div class="col-md-3">
        <a href="#">Regulamin</a>
    </div>
    <div class="col-md-3">
        <a href="#">Kontakt</a>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/script.js" th:src="@{/js/script.js}"></script>

</body>
</html>
