
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Riksha</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

</head>

<body>

<div class="header">
    <div class="logo">
        <img src="/img/Rower.jpg"/>

    </div>
    <div class="middle">
        <h1>RIKSHA</h1>
    </div>
    <div class="login">
        <div class="login-other-options">
            <div class="move-down-20px">
                <a href="registration">Rejestracja</a>
            </div>
            <div class="move-down-20px">
                <a href="#">Nie pamiętasz hasła?</a>
            </div>
        </div>
        <div class="login-inputs">
            <input class="form-control form-login" type="text" placeholder="email"/>
            <input class="form-control form-login" type="password" placeholder="hasło"/>
            <div class="login-button">
                <button class="findWay btn btn-default">Zaloguj się</button>
            </div>
        </div>
    </div>
</div>


<div class="registration-bar">
    <form th:action="@{/registration}" th:object="${user}" method="post">
        <div>
            <div class="reg-bar-description">
                <h5>Imię*</h5>
            </div>
            <div class="reg-bar-input">
                <input class="form-control" type="text" placeholder="Imię" th:field="*{firstName}"/>
                <h6 th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name error</h6>
            </div>
        </div>
        <div>
            <div class="reg-bar-description">

                <h5>Nazwisko*</h5>
            </div>
            <div class="reg-bar-input">

                <input class="form-control" type="text" placeholder="Nazwisko" th:field="*{lastName}"/>
                <h6 th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name error</h6>
            </div>
        </div>
        <div>
            <div class="reg-bar-description">

                <h5>Nick*</h5>
            </div>
            <div class="reg-bar-input">

                <input class="form-control" type="text" placeholder="Nick" th:field="*{nick}"/>
                <h6 th:if="${#fields.hasErrors('nick')}" th:errors="*{nick}">Nick error</h6>
            </div>
        </div>
        <div>
            <div class="reg-bar-description">

                <h5>Email*</h5>
            </div>
            <div class="reg-bar-input">

                <input class="form-control" type="email" placeholder="email" th:field="*{email}"/>
                <h6 th:if="${#fields.hasErrors('email')}" th:errors="*{email}">E-mail error</h6>
            </div>
        </div>
        <div>
            <div class="reg-bar-description">

                <h5>Hasło*</h5>
            </div>
            <div class="reg-bar-input">

                <input class="form-control" type="password" placeholder="hasło" th:field="*{password}"/>
                <h6 th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</h6>
            </div>
        </div>
        <div>
            <div class="reg-bar-description">

                <h5>Powtórz hasło*</h5>
            </div>
            <div class="reg-bar-input">

                <input class="form-control" type="password" placeholder="powtórz hasło"/>
            </div>
        </div>
        <div th:type="submit" class="registration-button">
            <button class="findWay btn btn-default">Rejestracja</button>
        </div>
    </form>
</div>


<div class=" footer">
    <div class=" col-md-3">
        <a href="home">Strona główna</a>
    </div>
    <div class="col-md-3">
        <a href="#">Profil</a>
    </div>
    <div class="col-md-3">
        <a href="#">Regulamin</a>
    </div>
    <div class="col-md-3">
        <a href="#">Kontakt</a>
    </div>

</div>

</body>

</html>