<html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Rydwan</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>

<div class="header">
    <div class="logo">
        <img src="/img/Rower.jpg"/>
    </div>
    <div class="middle">
        <h1>RIKSHA</h1>
    </div>
    <div class="login">
        <div class="login-other-options">
            <div class="move-down-20px">
                <a href="registration">Rejestracja</a>
            </div>
            <div class="move-down-20px">
                <a href="#">Nie pamiętasz hasła?</a>
            </div>
        </div>
        <div class="login-inputs">
            <input class="form-control form-login" type="text" placeholder="email"/>
            <input class="form-control form-login" type="password" placeholder="hasło"/>
            <div class="login-button">
                <button class="findWay btn btn-default">Zaloguj się</button>
            </div>
        </div>
    </div>
</div>


<div class="search-bar">
    <form th:action="@{/searching}" th:object="${ride}" method="post">
        <div class="search-inputs">
            <input class="form-control" type="text" placeholder="skąd?" name="fromPlace"/>
        </div>
        <div class="search-inputs">
            <input class="form-control" type="text" placeholder="dokąd?" name="toPlace"/>
        </div>
        <div class="search-button">
            <button class="findWay btn btn-default">SZUKAJ</button>
        </div>
        <div class="search-button">
            <a href="adding-drive.html" class="findWay btn btn-default">Dodaj przejazd jako kierowca</a>
        </div>
    </form>
</div>

<div class="offers">
    <!--/*@thymesVar id="all_offers" type="java.util.List<com.example.model.Ride>"*/-->
    <div th:each="ride : ${all_offers}">
        <div th:if="${ride}">
            <div class="single-offer">
                <div class="single-offer-cont">
                    <div>
                        <h1 th:text="${ride.fromPlace}"/>
                    </div>
                    <div>
                        <img style="width: 100px; height: 100px;" src="/img/arrow.png"/></div>
                    <div>
                        <h1 th:text="${ride.toPlace}"/>
                    </div>
                </div>
                <div class="single-offer-cont">
                    <div>
                        <p>Data wyjazdu:
                        <h3 th:text="${ride.date}"/></p>
                    </div>
                    <div>
                        <p>Cena za osobę:
                        <h3 th:text="${ride.price}"/></p>
                    </div>
                    <div>
                        <p>Ilość wolnych miejsc:
                        <h3 th:text="${ride.seatsLeft}"/></p>
                    </div>
                </div>
                <div class="single-offer-cont">
                    <div>
                        <p>Kierowca:
                        <h3 th:text="${ride.rideDriver}"/></p>
                    </div>
                    <div><p>Dodatkowe uwagi:
                        <h6 th:text="${ride.comments}"/></p>
                    </div>
                </div>

                <div class="single-offer-cont">
                    <form th:action="@{/adding-order}" method="post">

                        <div class="new-order-button">
                            <button class="findWay btn btn-default">Zamów przejazd</button>
                        </div>
                        <div>
                            <h5>Ilość osób</h5>
                            <input  class="form-control" type="text" name="seats"/>
                            <input type="hidden" th:value="${ride.rideId}" name="rideId"/>
                            <!--<h6 th:if="${#fields.hasErrors('orderSeatsNumber')}">Zła liczba osób</h6>-->

                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
<div class=" footer">
    <div class=" col-md-3">
        <a href="home">Strona główna</a>
    </div>
    <div class="col-md-3">
        <a href="#">Profil</a>
    </div>
    <div class="col-md-3">
        <a href="#">Regulamin</a>
    </div>
    <div class="col-md-3">
        <a href="#">Kontakt</a>
    </div>

</div>
</body>
</html>